---
layout: posts
---
<div class="post">
  
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_sharing_toolbox"></div>
 
    <div id="fontlinks">
    <a href="#" id="incfont" class="button buttonfont"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
    <a href="#" id="decfont" class="button buttonfont"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
    </div>
    
  <article class="post-content">
  {{ content }}
  </article>
	
  <!-- Flipkart Ads -->
  <div data-WRID="WRID-149708361510348653" data-widgetType="Push Content"  data-class="affiliateAdsByFlipkart" height="90" width="728"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>
	
  <!-- Amazon Ads -->
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=68dc105c-6f0c-43b2-b3b5-0a2eee09d6b5"></script>
  
  <!-- Google AdSense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2108347561458568"
       data-ad-slot="9326340240"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  
  <!-- Discus Comments -->
  <div id="disqus_thread"></div>
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ashrafwani.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script id="dsq-count-scr" src="//ashrafwani.disqus.com/count.js" async></script>
  </div>

  <!-- LinkWithin -->
  <script>
  var linkwithin_site_id = 2409957;
  </script>
  <script src="http://www.linkwithin.com/widget.js"></script>
  <a href="http://www.linkwithin.com/"><img src="http://www.linkwithin.com/pixel.png" alt="Related Posts Plugin..." style="border: 0" /></a>

  <!-- Amazon Gift Cards -->
  <div class="alignleft">
     <script type="text/javascript">
       	amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "gift_certificates";
	amzn_assoc_banner_type = "category";
	amzn_assoc_isresponsive = "true";
	amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
	amzn_assoc_tracking_id = "ashrafwani-20";
	amzn_assoc_linkid = "6480cef96d59b0cbf0a197f6a58b29f4";
     </script>
   <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
  </div>

<script type="text/javascript">
   $(document).ready(function() { 
    $('#incfont').click(function(){    
        curSize= parseInt($('article.post-content p').css('font-size')) + 2;
    if(curSize<=30)
        $('article.post-content p').css('font-size', curSize);
        });  
    $('#decfont').click(function(){    
        curSize= parseInt($('article.post-content p').css('font-size')) - 2;
    if(curSize>=12)
        $('article.post-content p').css('font-size', curSize);
        }); 
  });
</script>
